/*General Css*/
.mailid{position: absolute; left: 50% !important;}

.signuperror {color: red !important;}

/*Colors for the website footer/main 006484 turquoise
Accent FFCD29 yellow
Navbar 322925 brown*/

.nav{
    background-color: #322925;
}




footer{
    background-color: #00006484;
}

body{background-color: white !important;}

